table {
  background-color: rgb(21, 20, 19);
  border-radius: 20px;
}

h5 {
  color: rgb(210, 199, 199);
  margin: 15px 0 0 10px;
  padding: 10px;
}
td {
  padding: 10px;
}

p {
  color: rgb(152, 151, 151);
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.form-group {
  margin: 5px;
}
