/* this is the dark mode styling */

/* this is from an online example */
body {
  background-color: #fff;
  color: #333;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

/*=============== end of the dark mode styling example  */

table {
  background-color: rgb(21, 20, 19);
  border-radius: 20px;
}

h5 {
  color: rgb(210, 199, 199);
  margin: 15px 0 0 10px;
  padding: 10px;
}
td {
  padding: 10px;
}

p {
  color: rgb(152, 151, 151);
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
}

.form-group {
  margin: 5px;
}

#toggle-button {
  color:rgb(2, 2, 109);
  border: none;
  font-weight: bold;
  box-shadow: 2px 4px rgb(188, 186, 186)
}


/* delete this if possible this is from another example */
/* css styling for the darkmode */
/* 
:root {
  --grid-unit: 1rem;
  --border-radius-base: 0.5rem;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

/* example use of CSS custom properties */

#main-container {
  width: 600px;
  margin-top: 200px;
  /* border: 1px solid rgb(76, 87, 76); */
  margin: auto;

}

.div-one {
  /* border: 1px solid white; */
  margin: auto;
  margin-left: 600px;
}

#searchInput{
  /* margin: auto; */
  width: 500px;
  height: 40px;
  border-radius: 15px;
}

.searchButton {
  width: 100px;
  /* margin: auto; */
  border-radius: 10px;
  height: 40px;

}


#main-container {
  margin: auto;
  margin-top: 20px;
}

.img {
  width: 500px;
  border-radius: 15px;
  margin: auto;
}

h2 {
  color: rgb(151, 117, 5);
  margin-top: 90px;
  text-align: center;
}

.head-one {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}